input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #000000;
    font-size: 14px;
    box-sizing: border-box;
    }
