
<!--
<table class='table'>
<thead>
<tr>
<td>Status</td>
</tr>
</thead>
<tbody>
<tr *ngFor="let data of moves">
<td>{{data.value.status}}</td>
</tr>
</tbody>
</table>
-->
<div class="ready"><button [ngClass]="buttonClass" mat-stroked-button color="accent" [disabled]="this.fact" (click)="increase()"><img src="../../assets/bg.png" width="auto" height="512px" /></button></div>
<div *ngIf="!this.fact" class="waiting">Waiting</div>
<div *ngIf="this.fact" class="ready">Ready</div>
<div *ngIf="!this.fact" class="remainingTime">Used for {{timeLeft}} minutes.</div>
