.table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #F1EFEF;
    width: 100%;
    }
    .table  td, th {
    border-left: 1px solid #CFCACA;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem 1rem;
    }
    .table  thead {
    background-color: #02348A;
    color: #F3EDED;
    text-align: left;
    vertical-align: bottom;
    }
    .ready{
        color: green;
        background-color: whitesmoke;
        text-align: center;
        font-size: 150px;

    }
    .waiting{
        color: red;
        background-color: whitesmoke;
        text-align: center;
        font-size: 120px;

    }
    .remainingTime{
        color: black;
        background-color:whitesmoke;
        text-align: center;
        font-size: 80px;
    }
    .image{
        height: 512px;
        width: auto;
        background-repeat: no-repeat;
        background-position: center; 
        background-image:url('../../assets/bg.png');
      }
      .button{
          width: 600px;
          height: auto;
          align-items: center;
      }
      .fair{
        background-color:whitesmoke;
      }
      .medium{
        background-color: aquamarine;
      }
      .dense{
        background-color: orangered;
      }