<h1>Add Number</h1>
<form (ngSubmit)="addNumber(numberForm)" #numberForm="ngForm">
<label for="number"> Number</label>
<input type="text" name="number" ngModel>
<button type="submit">Submit</button>
</form>
<a routerLink="/">Back To Move List</a>