<h1>Add Movement</h1>
<form (ngSubmit)="addMovement(movementForm)" #movementForm="ngForm">
<label for="status"> Status</label>
<input type="text" name="status" ngModel>
<button type="submit">Submit</button>
</form>
<a routerLink="/">Back To Move List</a>